<a href="https://colab.research.google.com/github/greeshmapj/AI-course-notes/blob/main/sec4_control_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Flow Control Statements**

Flow control statements allow a program to decide the sequence in which code executes. Python mainly has conditional statements and loop statements.

#### **1. Conditional Statements**

Conditional statements allow you to execute code only if certain conditions are true.

a) if Statement

In [ ]:
x = 10
if x > 0:
    print("x is positive")

x is positive

b) if-else Statement

In [ ]:
x = -5
if x > 0:
    print("x is positive")
else:
    print("x is not positive")

x is not positive

c) if-elif-else Statement

In [ ]:
x = 0
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is zero

In [1]:
# check a number is odd or even?

num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter a number: 2
Even number

2. Nested if Statement

In [2]:
#positive and even?
num = int(input("Enter a number: "))

if num > 0 and num % 2 == 0:
    print("The number is positive and even")
else:
    print("The number is NOT positive and even")

Enter a number: 4
The number is positive and even

In [ ]:
#positive or negative
def pstv_or_negtv(x):
  """to check if a number is positive or negative"""
  if x>=0:
    print("positive")
  else:
    print("negative")

pstv_or_negtv(9)

positive

In [4]:
#Check if a character entered by the user is a vowel or consonant.
ch = input("Enter a character: ").lower()

if ch.isalpha() and len(ch) == 1:
    if ch in "aeiou":
        print("Vowel")
    else:
        print("Consonant")
else:
    print("Invalid input")

Enter a character: n
Consonant

In [5]:
#largest of 2 numbers?
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("Largest number is:", a)
else:
    print("Largest number is:", b)

Enter first number: 13
Enter second number: 69
Largest number is: 69

In [ ]:
#larget of 3  numbers

In [ ]:
def largest_num(x,y,z):
  """to find the largest among three numbers"""
  if x>y and x>z:
    print(x,"is largest among 3")
  elif y>x and y>z:
    print(y,"is the largest")
  else:
    print(z,"is the largest")

largest_num(1,2,3)

3 is the largest

In [ ]:
# Input three numbers from the user
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

# Compare the numbers
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3

# Output the result
print("The largest number is:", largest)

Enter first number: 2
Enter second number: 2
Enter third number: 2
The largest number is: 2.0

In [ ]:
3

3

# **Loops**

Loops let you repeat a block of code multiple times.

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

Print all even numbers between 1 and 20.

Print all odd numbers between 1 and 20.

Print the first N natural numbers (N is input from the user).

Print the first N multiples of 5.

find the sum of numbers from 1 to 100

In [ ]:
# Initialize sum
sum = 0

# Loop from 1 to 100
for i in range(1, 101):
   sum=sum+i # Add each number to total

# Print the result
print("The sum of natural  numbers from 1 to 100 is:", sum)

The sum of numbers from 1 to 100 is: 5050

find the sum of even numbers from 1 to 50

In [ ]:
# Initialize sum
total = 0

# Loop through numbers from 1 to 50
for i in range(1, 51):
    if i % 2 == 0:   # Check if the number is even
        total += i   # Add it to the total

# Print the result
print("The sum of even numbers from 1 to 50 is:", total)

The sum of even numbers from 1 to 50 is: 650

In [6]:
#Print all elements in a list.
lst = [10, 20, 30, 40, 50]

for item in lst:
    print(item)

10
20
30
40
50

In [7]:
#print all numbers divisible by 3 in a list
lst = [10, 3, 6, 7, 9, 12, 15, 20]

for num in lst:
    if num % 3 == 0:
        print(num)

3
6
9
12
15

Print a multiplication table of a given number.

In [ ]:
def table(n):
  """"display the table of respective integer"""
  for i in range(1,11):
    print(n,"*",i,"=",i*i)

table(2)

2 * 1 = 1
2 * 2 = 4
2 * 3 = 9
2 * 4 = 16
2 * 5 = 25
2 * 6 = 36
2 * 7 = 49
2 * 8 = 64
2 * 9 = 81
2 * 10 = 100